@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}
h1, h2 {
    text-align: center;
}
a:visited {
    color: red;
}
a:hover {
    color: brown;
}