@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.box_intro {
    position: relative;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
}
.box_intro_text {
    width: 100%;
    height: auto;
    position: relative;
    left: 20px;
    top: 8px;
    bottom: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14 px;
    color: #000000;
}
.box_card_super {
    position: sticky;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;
    left: 0;
    top: 0px;
    z-index: 10;
}
.box_card_super_text {
    font-size: 35px;
    position: relative;
    color: white;
    left: 20px;
    top: 10px;
    bottom: 0px;
    font-style: normal;
    font-weight: normal;

}
.contenedor {
    height: 100%;
    align-items: center;
}
.login {
    position: absolute;
    width: 195px;
    height: 72px;
    left: 410px;
    top: 250px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}
.nya, .correo, .pais, .password {
    position: absolute;
    width: 620px;
    height: 60px;
    background: #FFFFFF;
    border: 1.53407px solid #000000;
    box-sizing: border-box;
}
.nya {
    left: 411.12px;
    top: 350px;
}
.correo {
    left: 410px;
    top: 450px;
}
.password {
    left: 410px;
    top: 550px;
}
.pais {
    left: 410px;
    top: 650px;
}
.enter, .reset {
    position: absolute;
    width: 300px;
    height: 53.79px;
    border-radius: 23.011px;
    font-family: 'Karla', sans-serif;
}
.enter {
    left: 730px;
    top: 730px;
    background: #1CD1B0;
    font-size: 24px;
}
.reset {
    left: 410px;
    top: 730px;
    background: #888888;
    color: white;
    font-size: 24px;
}
.text1 {
    position: absolute;
    width: 356px;
    height: 28px;
    left: 545px;
    top: 780px;
    font-style: normal;
    font-weight: normal;
    font-size: 21.4769px;
    line-height: 28px;
    text-align: center;
}
.text1 {
    color: #00669F;
    display: inline;
}
.text2 {
    color: black;
    display: inline;
}
.box_footer {
    position: relative;
    width: 100%;
    height: 50px;
    top: 800px;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_footer_text {
    color: #FFF9F9;
    text-align: center;
    position: relative;
    top: 17px;
}