* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    background-color: darkgray;
    margin: 0px;
    color: midnightblue;
    font-size: 20px;
    line-height: 50px;
}
.batman {
    margin: 20px;
}
header {
    margin: 0;
    text-align: center;
    background-color: lightgrey;
}
h2 {
    color: firebrick;
    margin: 40px 0 0 0;
    background-color: darkgray;
    width: 70%;
    font-size: 20px;
}
footer {
    background-color: midnightblue;
    margin: 0;
    text-align: center;
    line-height: 40px;
}
.redes {
    height: 20px;
    width: 20px;
}
section {
    padding-left: 25%;
}
.byi {
    font-weight: bold;
    font-style: italic;
}